= render "shared/error_message", errors: booking.errors

= form_with model: booking, url: path, class: "form" do |form|
  .form-group
    = form.label :potential_tenant_name, "Please enter your name"
    = form.text_field :potential_tenant_name, required: true

  .form-group
    = form.submit "Submit", class: "button"
