.property-list
  - @properties.each do |property|
    = link_to property, class: "property-card" do
      %h1.name= property.name
      %p.description= truncate(property.description, length: 150)
      %span.address= property.address

= paginate @properties
