%div
  = link_to "New Property", new_property_path, class: "button"
.property-list
  - @properties.each do |property|
    = link_to property, class: "property-card" do
      .details
        %h1.name= property.name
        %span.address= property.address
        %p.description= truncate(property.description, length: 150)
        %p.availabilities
          = property.availabilities.future.count
          Available timeslots

= paginate @properties
