- bool_show_all = params["show_all"] == "1"
- show_all_params = bool_show_all ? "0" : "1"
- show_all_text = bool_show_all ? "Show All" : "Only Future Timeslots"

= render "properties/details", property: @property, show_actions: true

.availabilities
  %h2 Available Timeslots
  .actions
    = link_to show_all_text, property_path(@property, show_all: show_all_params), class: "button"
  - @grouped_availabilities.each do |date, availabilities|
    .availability-list
      .day
        = date.to_datetime.to_fs(:basic_date)
      - availabilities.each do |availability|
        = render "availabilities/card", availability: availability, property: @property
  = paginate @availabilities
