.property

  %h1.name= @property.name
  %p.address= @property.address
  %p.description= @property.description

  .actions
    = link_to "Edit", edit_property_path(@property), class: "button"
    = link_to "Destroy", property_path(@property), class: "button -red", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this property?" }
