- availability.errors.full_messages.each do |error|
  .flash.-error
    = error

= form_with model: availability, url: property_availabilities_path, class: "form" do |form|
  .form-group
    = form.label :manager_name
    = form.text_field :manager_name, required: true

  .form-group
    = form.submit "Submit", class: "button"
